n8n.json
{
  "name": "Automação zap teste jonas",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        64
      ],
      "id": "3d596690-c31d-4d4d-8f1d-0bcf03f7ca5a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23130f5f-065f-428a-8e77-c3d91bd2f35e",
              "name": "NOME",
              "value": "={{ $json.NOME }}",
              "type": "string"
            },
            {
              "id": "40a861b7-07fe-4a63-a25f-915ff0608e19",
              "name": "CONTATO",
              "value": "={{ $json.CONTATO }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        64
      ],
      "id": "2d8a9bb3-ee57-4ea5-87bb-e196f23f04cb",
      "name": "Extrai colunas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fd23599-93fc-4781-8cc2-051b5f4b5b94",
              "name": "mensagem",
              "value": "=ola, {{ $json.NOME }} .  responde isso aqui pf:\n//teste Gabi\nlink",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -576
      ],
      "id": "0d2507f2-cddb-4595-8175-0b3e76ee126a",
      "name": "Cria mensagem"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d012d5f-e59f-4979-b576-cf0429bed293",
              "leftValue": "=new Date().getDay() >= 1 AND new Date().getDay() <= 5\n",
              "rightValue": null,
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        272
      ],
      "id": "ac3b36e6-7d11-4ba3-9613-ab19b11226bc",
      "name": "verifica_dia"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5abcdc10-af29-41b9-bbb2-8edde28119b1",
              "leftValue": "={{ new Date().getHours() }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "c88ed2db-5c09-4711-87e3-5dceca8573f5",
              "leftValue": "={{ new Date().getHours() }}",
              "rightValue": 19,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2112,
        368
      ],
      "id": "e06ffa12-d068-430d-b315-7e25f7202f1d",
      "name": "Verifica_hora"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -192,
        64
      ],
      "id": "6a9cf92c-c614-4222-82a1-bf5da7f9b7a2",
      "name": "Loop 1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RiA22OH3lUrudqxUxgxO-ppta98Uj45V873NZtRTMrk",
          "mode": "list",
          "cachedResultName": "Cópia de ALUNOS FINAIS - GT 2.0 PARA O SENSO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RiA22OH3lUrudqxUxgxO-ppta98Uj45V873NZtRTMrk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1290716671,
          "mode": "list",
          "cachedResultName": "Turma Presencial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RiA22OH3lUrudqxUxgxO-ppta98Uj45V873NZtRTMrk/edit#gid=1290716671"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -816,
        64
      ],
      "id": "415797d2-d0ce-4aa7-8619-b80de488aa07",
      "name": "Lê planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbATOyqFFjh6LbSF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1376,
        272
      ],
      "id": "73cd5cc7-f707-4f57-9e4e-7fcb044e415a",
      "name": "Wait Longo",
      "webhookId": "56e56165-4d07-474f-a8f4-dc9b46a34cdd"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.contador % 20}}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "897b0434-e6fd-433f-b339-ce7928293288"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c73cab51-2934-4f53-a215-a8614fddb80f",
                    "leftValue": "={{ $json.contador % 20}}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1168,
        240
      ],
      "id": "5adbd9ad-f6cd-4a18-9f52-07c1e3ccef9c",
      "name": "Switch"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1p9opeKYEwLIdJvGmFexSbrZHlYCvgx-OdVGJO4cVcXg",
          "mode": "list",
          "cachedResultName": "planilha-teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p9opeKYEwLIdJvGmFexSbrZHlYCvgx-OdVGJO4cVcXg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p9opeKYEwLIdJvGmFexSbrZHlYCvgx-OdVGJO4cVcXg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        80
      ],
      "id": "afba9df5-ff89-48fd-b07f-5d6586fa72b9",
      "name": "Inicia contador",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbATOyqFFjh6LbSF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1p9opeKYEwLIdJvGmFexSbrZHlYCvgx-OdVGJO4cVcXg",
          "mode": "list",
          "cachedResultName": "planilha-teste",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p9opeKYEwLIdJvGmFexSbrZHlYCvgx-OdVGJO4cVcXg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p9opeKYEwLIdJvGmFexSbrZHlYCvgx-OdVGJO4cVcXg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contador": "={{ $json.contador + 1}}",
            "row_number": 2
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "contador",
              "displayName": "contador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        112
      ],
      "id": "a257f0d7-89aa-4baa-9f98-e3b7c747b05b",
      "name": "Atualiza contador",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbATOyqFFjh6LbSF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        400
      ],
      "id": "2f10165c-e5cc-4e93-acb8-3d34a6c7b09c",
      "name": "Wait",
      "webhookId": "436e26fe-7dc1-48dc-9735-5a30b01c61ea"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        368
      ],
      "id": "d7aa3f10-e5e8-4910-b8b2-3d11b160e436",
      "name": "Wait1",
      "webhookId": "e8b5a9b2-f76b-4cdc-8fbb-c63798df8c96"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  if (item.json.CONTATO) {\n    // Remove qualquer caractere que não seja número\n    const numeroLimpo = item.json.CONTATO.replace(/\\D/g, '');\n    \n    // Adiciona o código do país \"55\" no início\n    item.json.CONTATO = '55' + numeroLimpo;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -560
      ],
      "id": "e04cc175-e2e0-49b2-ba8c-9bc6e7ee1fbb",
      "name": "Formata numero"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "={{ $('Loop 1').item.json.CONTATO }}",
        "reply_to": "=",
        "text": "={{ $json.mensagem }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        352,
        64
      ],
      "id": "8e5f3c21-61fe-498a-8b93-47cdd7538791",
      "name": "Send a text message1",
      "credentials": {
        "wahaApi": {
          "id": "PytLi0UZt4XuJ725",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (120 - 60 + 1)) + 60 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        176,
        64
      ],
      "id": "0e5dd440-8a73-4e0f-a2ae-d666994e3fa4",
      "name": "Wait Curto",
      "webhookId": "3886a9c3-2cc5-439b-b436-0cb1046aac63"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // --- Formatar nome ---\n  const nomeOriginal = item.json.NOME || \"\";\n  const nomeFormatado = nomeOriginal\n    .toLowerCase()\n    .split(\" \")\n    .map(p => p.charAt(0).toUpperCase() + p.slice(1))\n    .join(\" \");\n  item.json.NOME = nomeFormatado;\n\n  // --- Formatar número ---\n  if (item.json.CONTATO) {\n    // Remove tudo que não seja número\n    let numeroLimpo = item.json.CONTATO.replace(/\\D/g, '');\n    \n    // Se tiver 11 dígitos e o 3º dígito for 9 (DDD + 9xxxxxxx)\n    if (numeroLimpo.length === 11 && numeroLimpo[2] === '9') {\n      // Remove o 9 extra do início do número (após o DDD)\n      numeroLimpo = numeroLimpo.slice(0, 2) + numeroLimpo.slice(3);\n    }\n\n    // Garante que o número final tenha 10 dígitos + código do país 55\n    item.json.CONTATO = '55' + numeroLimpo;\n  }\n\n  return item;\n});\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        64
      ],
      "id": "db2a5d22-ece4-443a-9e67-70fc6f6d45dc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // Parte inicial randomizada\n  const nome = item.json.NOME;\n\n  const aberturas = [\n    `Oi ${nome}! Tudo bem? 😊`,\n    `Olá ${nome}, como você tá? 👋`,\n    `E aí ${nome}! Passando pra falar rapidinho 🚀`,\n    `Oi ${nome}! Espero que esteja tudo ótimo por aí 💙`,\n    `Fala ${nome}! Tudo certo por aí? 😄`\n  ];\n\n  const abertura = aberturas[Math.floor(Math.random() * aberturas.length)];\n\n  // Mensagem fixa\n  const mensagemFixa = `\nSou a Gabriella Rodrigues, participei da 1ª edição do Geração Tech e, junto com a equipe do programa, estou entrando em contato para coletar feedbacks dos ex-alunos. 💙\n\nQueremos entender como o programa impactou a trajetória profissional de cada um e usar essas informações para melhorar as próximas edições. \n\n📋 É rapidinho!\n👉 Preencha o formulário do Censo Geração Tech: https://forms.gle/eQtVixrtbw9qGScE9\n\nSeu retorno vai nos ajudar a medir o impacto real do programa e inspirar novas turmas.\n`;\n\n  // Mensagem final\n  item.json.mensagem = `${abertura}\\n\\n${mensagemFixa}`;\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        64
      ],
      "id": "1e1295a8-64dc-4039-8974-eb24a7e96f2e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16XNHQA194ZrwgGY9WNnHADLFVX-226HPOaZe5i_bxgk",
          "mode": "list",
          "cachedResultName": "Planilha-enviados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16XNHQA194ZrwgGY9WNnHADLFVX-226HPOaZe5i_bxgk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16XNHQA194ZrwgGY9WNnHADLFVX-226HPOaZe5i_bxgk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STATUS": "=\"Enviado\"\n",
            "DATA/HORA": "={{ (new Date()).toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}\n",
            "NOME": "teste",
            "CONTATO": "teste"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CONTATO",
              "displayName": "CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATA/HORA",
              "displayName": "DATA/HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        64
      ],
      "id": "d2b17c07-4141-44e0-ad4c-bfeb63befd60",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CbATOyqFFjh6LbSF",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Lê planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai colunas": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria mensagem": {
      "main": [
        []
      ]
    },
    "verifica_dia": {
      "main": [
        [
          {
            "node": "Verifica_hora",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica_hora": {
      "main": [
        [
          {
            "node": "Loop 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop 1": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lê planilha": {
      "main": [
        [
          {
            "node": "Extrai colunas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Longo": {
      "main": [
        [
          {
            "node": "verifica_dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait Longo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicia contador": {
      "main": [
        [
          {
            "node": "Atualiza contador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza contador": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "verifica_dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Verifica_hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata numero": {
      "main": [
        []
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Curto": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Wait Curto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Inicia contador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c675c14-d946-41da-b70d-3bd1955e0190",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "833093a644e98c67a25993444f1408c82705ce7090975c849ab601cfdb160514"
  },
  "id": "qaudbrdgxjDfAEqo",
  "tags": []
}